

.smartimg {
  padding-top: 80px;
}

.helpimg {
  padding-top: 80px;

}

.sierraimg {
  padding-top: 80px;

}
<<<<<<< HEAD
/*
p{
  font-family: 'Aldrich', sans-serif;
}

h1{
  font-family: 'Aldrich', sans-serif;
=======

html {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
>>>>>>> c2f14eb8f5c4049648f4d179dfeed3908c37a963
}
*/
